<div class="head">
	<h2>Galerija</h2>
</div>

<div class="wrapp">

	<p class="intro">
		Pogledajte neke od naših radova i zanimljivih stvari koje smo do sada vidjeli. Ispod galerije je prikaz <i>google mape</i>
		s lokacijama na kojima smo do sada radili. Uz opciju <i>street view</i> većinu radova možete pogledati i u stvarnom prikazu s
		ulice (<i>street view</i> prikaz rađen je 2013 godine tako da su krovovi rađeni poslije još u starom prikazu).
	</p>

	<div class="gallery">

		<iframe class="frame" width="600" height="450" src="http://www.cincopa.com/media-platform/iframe.aspx?fid=AwDAMtrHi_fI" frameborder="0" allowfullscreen scrolling="no"></iframe>
		<noscript>
			<span>New Gallery 2014/6/8</span><span>Završavanje oblaganja krovišta OSB pločama.</span><span>cameramake</span><span> Nokia</span><span>height</span><span> 1536</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Microsoft Windows Ph</span><span>originaldate</span><span> 4/24/2012 8:22:04 PM</span><span>width</span><span> 2048</span><span>cameramodel</span><span> 6303 classic</span><span>Prvi par rogova je najosjetljivi i tek pri otkrivanju krova se može vidjeti njihovo pravo stanje. Kod starijih krovova uglavnom je potrebna promijena prvog para rogova.</span><span>cameramake</span><span> Nokia</span><span>height</span><span> 2048</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> V 09.10</span><span>originaldate</span><span> 3/28/2012 5:47:17 PM</span><span>width</span><span> 1536</span><span>cameramodel</span><span> 6303 classic</span><span>Novo krovište na vikendici starog štiha.</span><span>cameramake</span><span> Nokia</span><span>height</span><span> 1280</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> V 09.10</span><span>originaldate</span><span> 8/23/2010 3:47:47 PM</span><span>width</span><span> 960</span><span>cameramodel</span><span> 6303 classic</span><span>Izgled starih greda s nutarnje stane krova vikendice.</span><span>cameramake</span><span> Nokia</span><span>height</span><span> 1536</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Microsoft Windows Ph</span><span>originaldate</span><span> 8/28/2010 7:46:37 PM</span><span>width</span><span> 2048</span><span>cameramodel</span><span> 6303 classic</span><span>Krov prepokriven biber crijepom, gdje su letve zbog neprozračnosti krova nakon par godina istrule.</span><span>cameramake</span><span> Nokia</span><span>height</span><span> 1600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> V 06.01</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1200</span><span>cameramodel</span><span> 6300</span><span>Krov naoko izgleda lijepo dok vam crijep ne padne na glavu. Prozračivanje krova je jedna od najbitnijih stvari kod krova i ovo je najbolji primjer za to.</span><span>cameramake</span><span> Nokia</span><span>height</span><span> 1600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> V 06.01</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1200</span><span>cameramodel</span><span> 6300</span>
		</noscript>

	</div>

	<div class="map">

		<iframe class="frame_1" width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.hr/maps/ms?msa=0&amp;msid=206503593453185889069.0004fc70130f65551915e&amp;hl=hr&amp;ie=UTF8&amp;ll=45.601152,17.820078&amp;spn=0.572703,1.202748&amp;t=h&amp;output=embed"></iframe>
		<br />
		<small>Prikaži <a href="https://maps.google.hr/maps/ms?msa=0&amp;msid=206503593453185889069.0004fc70130f65551915e&amp;hl=hr&amp;ie=UTF8&amp;ll=45.601152,17.820078&amp;spn=0.572703,1.202748&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Bez naslova</a> na većoj karti</small>
	</div>

</div>

