<div class="head">
	<h2>O nama</h2>
</div>

<div class="wrapp clearfix">

	<div class="text">

		<p class="talk">
			<%= image_tag("Onama.jpg", :alt => "zatvaranje krova OSB pločama", :class => 'img_align') %>
			Pavić Gradnja nastala je 2006. godine nakon desetogodišnjeg obućavanja i radnog iskustva u tesarskoj i krovopokrivačkoj firmi
			<a href="http://www.zimmereidachdeckereimohr.de/zimmerei.html"> Zimmerei Mohr</a>. Nakon povratka u Hrvatsku odlučio sam se baviti onime
			što sam najbolje znao i s čime sam se bavio zadnjih 10 godina, krovovima i suhom gradnjom. Kao svakom obrtu najbolja
			reklama su zadovoljstvo i preporuke samih kupaca. Pouzdanošću i njemačkim standardom obrt je brzo došao na dobar glas
			kao pouzdan i kvalitetan obrt za svačiji krov. Najbolji pokazatelj povjerejnja kupaca su ova krizna vremena gdje i dalje
			uživamo povjerenje kupaca. Kao vlasnik obrta prisutan sam pri svim radovima, takvim pristup osiguravam kvalitetnu izradu
			i dajem garanciju da su radovi obavljeni onako kako je to propisano.

			</br>
			</br>

			Naš obrt profitira i od ulaganja u brzomontažnu skelu, koja pruža veliku razinu sigurnosti za same radnike i ujedno
			omogućuje pristup radovima sa svih mjesta i to u najkraćem roku. Također, uz brzomontažnu dizalicu, koja pri dizanju
			crijepa i drugih materijala zamjenjuje nekoliko radnika, najteži poslovi se obavljaju u najkraćem mogućem roku.

			</br>
			</br>

			Potvrda kvalitete i pouzdanosti našeg obrta možete naći i na stranici <a href="http://www.velux.hr/hr-HR/all_lists/Documents/VELUXClub_listamajstora%200511web.pdf"> Velux-a</a>, najvećeg prozvođaća krovnih prozora u Europi. Nalazimo se na popisu preporučenih majsotra istočne Slavonije. Time
			Velux daje garanciju da će našom ugradnjom sve biti obavljeno po danim propisima.

			</br>
			</br>

			Također se nalazimo na stranicama <a href="http://www.nexe.hr/default.aspx?id=384"> Nexe-a</a> i <a href="http://www.bramac.hr/osnovna-navigacija/za-kupce/sanacija-krova/treci-korak.html"> Bramac-a</a>
			kao preporučeni krovopokivači naše regije.

		</p>

	</div>

</div>

