
		
		
			
			<div class="head">
				<h2>Usluge i Savjeti</h2>
			</div>
			
			<div class="wrapp">
				
				<p class="intro">
					Ovdje ćemo Vam pokazati koje usluge nudimo i dati neke savjete uz te usluge. Pokušati ćemo objasniti koje su važne stvari, 
					koje manje važne. Na primjer, najvažnija stvar pri radovima na krovu ili pri suhoj gradnji jest izbor majstora. Majstor
					se treba birati prema preporukama bivših investitora (kao kod svakog posla). Raspitajte se prije odabira, sigurno će Vam 
					se malo truda višestruko vratiti. Za dodatna pitanja nas kontaktirajte putem naše <a href="kontakt.html">kontakt</a> stranice.
				</p>
				
				<h3>Krovopokrivački radovi</h3>
				
				<p class="roof_1">
					
					<ins><b>CRIJEP</b></ins></br><%= image_tag("picture_1.jpg", :alt => "Crijep", :class => 'img_1') %>
					Kod svake obnove krova ili izrade novog krova izbor <b>crijepa</b> jedan je od najzanimljivih izbora ili dilema za svakog
					vlasnika. Da li je crijep pretežak po kvadratu, da li je dovoljno kvalitetan, koju boju uzeti, betonski ili glineni ili 
					nešto treće...</br>
					Naravno da se pri izboru crijepa najbolje posavjetovat s nekom stručnom osobom. Vrsta crijepa koja će se koristiti
					ovisi o puno faktora, kao što su nagib krova, črvstoća konstrukcije samog krova, klimatski uvjeti, izgled itd. </br>
					Kod izbora između betonskog i glinenog crijepa poznata je predrasuda da je glineni crijep lakši po kvadratu pa se zato
					uzima za slabije krovne konstrukcije. Takve predrasude nisu točne što možemo potvrditi uz jednostavnu matematiku.
					Težina crijepa se uvijek računa po kvadratu, biber crijep ima težinu od 2 kg po komadu, a u kvadrat ide cca. 35 komada. 
					To znači da kvadrat bibera teži najmanje 70 kg po kvadratu i time zahtjeva i pojačanu krovnu konstrukciju, uz sve to
					je i po cijeni najskuplji. </br>
					Prosiječni betonski crijepovi teški su 4,5 kg po komadu i u kvadrat ide 10 komada. Ostali glineni crijepovi su po težini
					jednaki, također oko 45 kg, stoga razlike u težini nema i to ne smije biti razlog davanje prednosti glinenom crijepu.
				</br>
			</br>
		</br>
				   <ins><b>KROVNA KONSTRUKCIJA</b></ins></br><%= image_tag("picture_2.jpg", :alt => "krovna konstrukcija", :class => 'img_1') %>
				   Prije obnavljanja ili izrade novog krova bitno je da majstor dođe i pregleda stanje krova i posebno obrati pažnju na krovne
				   konstrukcije s unutarnje strane. Prije početka radova važno je da investitor radova zatraži od majstora preciznu ponudu u 
				   kojoj trebaju biti navedene količine materijala s cijenama i troškovi krovopokivačkih i limarskih radova </br>
				   Kod obnove starog krovišta ovisno o tome da li je krovište hrastove ili jelove građe obavezno je zaštiti jelovu građu
				   sredstvima protiv pljesni, gljivica i crvice, dok kod hrastove građe to uglavnom nije potrebno. Kod jelove građe
				   često se događa da je prvi par rogova sa svake strane natruo, to se sigurno tek vidi kada se crijep otkrije.
				  </br>
				 </br>
				</br>
				  <ins><b>PROZRAČAVANJE KROVIŠTA</b></ins></br> <%= image_tag("picture_3.jpg", :alt => "prozračavanje krovišta", :class => 'img_3') %>
				  Sljedeća važna stvar je prozračavanje krovišta, pravilan izbor krovne folije i kontra letve. Pravilan odabir same
				  visine kontra letve direktno utjeće na dugotrajnost kompletnog krovišta. Cirkulacija zraka između podloge i crijepa
				  neophodna je, u suprotnom dolazi do ubraznog propadanja krovišta. Druge nuspojave pri lošem prozračavanju su
				  luštanje crijepa zbog kondeziranja i time gubi na kvaliteti i dugovječnosti, letva na kojoj crijep leži trune
				  i dolazi do opasnosti padanja crijepa s krova. Također dolazi do truljenja krovne folije koja kao takva više
				  nema nikakvu funkciju. Iz svega ovoga možemo zaključiti da je to jako važan detalj u izradi ili obnovi svakog 
				  krovišta.
				 </br>
			
		</p>
				<h3>Suha gradnja</h3>
				
				<p class="roof_2"> 	
				Suha gradnja podrazumijeva uređenje potkrovlja, izolaciju potkrovlja mineralnom vunom (u pravilu) i izrade obloga
				gips kartonskim pločama (knauf ili rigips). Ovdje je jako bitan odabir materijala (vodilica, ploča, glet masa i sl.).
				Odabir jeftinijeg materijala donosi samo prividnu uštedu, jer je takav materijal uglavnom slabije kvalitete i više ga 
				se troši. Na kraju radova dolazite do toga da na materijal potrošite jednako kao da ste uzeli malo skuplje i kvalitetnije,
				a nemate jednaku kvalitetu. </br>
				Kod izlorianja potkrovlja posebno je potrebno obratiti pozornost na pravilnu izradu parne brane (odabir odgovarajuće
				folije za parnu branu).
					
				</p>
			</br>
				
			</div>

			

