body {
	background-color: #3b3f3f !important;
	margin: 0px !important;	
}


.navbar {
	padding-right: 50px;
	padding-left: 10px;
}

.moto {
	font-size: 10px;
}

.head {
	margin: 60px 10px 15px 10px;
	background-color: #222 !important;
}

h2 {
  /* border-bottom: 1px solid black;*/
   padding: 10px 0 10px 15px;
   color: #5e5e5e !important;  
  /* margin: 0 300px 0 10px;*/
}

.wrapp {
	background-color: #222 !important;
	height: auto;
	margin: 0 10px 55px 10px;
}

.text {
    color: #5e5e5e;
    padding: 30px 30px 40px 40px;
    float: left;
}
  
.map {
 	 border-top: 1px solid black;
     padding: 50px 30px 70px 30px;
     clear: both;   
}

.frame {
	display: block;
	margin: 0 auto;
}

.send {
	float: right;
	width: 550px !important;
	padding: 30px 50px 40px 50px;
}
