body {
	background-color: #3b3f3f !important;
	margin: 0px !important;	
}



.navbar {
	padding-right: 50px;
	padding-left: 10px;
}

.moto {
	font-size: 10px;
}



.logo_1 {
	width: 335px;
	height: 296px;
} 

.logo_2 {
	width: 600px;
	height: 540px;
}


.entry {
	clear: left;
   	margin: 0 2.5px 55px 10px;
    background-color: #222;
    font-size: 12px;
  	width: 335px;
}
.entry ul {
	padding: 0 25px 0 25px;
	margin-bottom: 0 !important;
}

.entry ul li {
 	color: /*#B8860B*/ #fff;	
 	padding: 15px 0px 15px 25px;
 	border-bottom: 1px solid black;
 	width: 295px;
}

.last_li {
    border-bottom: none !important; 
}
